
.info{
  margin: auto;
  width: 90%;
}

.margin-bottom {
  margin-bottom: 30px;
}


.donut-chart{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul{
  text-align: left;
}

iframe{
  width:100%;
  height:750px;
  align:center;
}

.map-center{
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.trait-item{
  margin-top: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 10px 17px;
}

th {
  font-size: 15px;
}

.key-table{
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

.map-key-title{
  margin-left: auto;
  margin-right: auto;
}

.map-key-0{
  background-color: #D3D3D3;
  margin-left: 10px;
  margin-right: 10px;
}

.map-key-1{
  background-color: #A0ACEA;
  margin-left: 10px;
  margin-right: 10px;
}

.map-key-2{
  background-color: #425099;
  margin-left: 10px;
  margin-right: 10px;
}

.map-key-3{
  background-color: #040B30;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-background{
  background: #fea16b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}

.icon {
  font-size: 40px;
  color: #2e3a67;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.text-background{
  border: 2px solid #2e3a67;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
  margin-top: -20px;
}

.text-break {
  border-width: 3px;
  width: 10%;
  margin: 0 auto;
}

.text-heading{
  margin: 0 auto;
  margin-bottom: 5px;
}

.text{
  margin: 5px;
  font-size: 16px;
}
